<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>jwconfigclass</param-name>
        <param-value>com.demo.config.ErwinJWConfig</param-value>
    </context-param>

    <servlet>
        <servlet-name>WeChatServlet</servlet-name>
        <servlet-class>com.jw.servlet.WeChatServlet</servlet-class>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>WeChatServlet</servlet-name>
        <url-pattern>/mainservlet.action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>com.demo.servlet.UploadImageServlet</servlet-class>
        <init-param>
            <param-name>filePathDir</param-name>
            <param-value>storeImages</param-value>
        </init-param>
        <init-param>
            <param-name>tempDir</param-name>
            <param-value>tempDir</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImage.action</url-pattern>
    </servlet-mapping>
</web-app>